openapi: 3.2.0
info:
  title: Tttech NODE API
  contact:
    name: Nerve support
    email: support@tttech-industrial.com
  version: '1.0'
  description: 'Operations tagged NODE across 2 of this provider''s published API definitions: tttech-nerve-management-system-openapi-original.json, tttech-nerve-node-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://trynerve1.nerve.cloud
tags:
- name: Node
  description: The operations to manage nodes v1.
paths:
  /nerve/workload/node/{serialNumber}/devices:
    get:
      summary: Get list of deployed workloads on the selected node
      operationId: list_deployed_workloads
      tags:
      - Node
      description: Used to retrieve the list of deployed Workloads(devices) from a specific node
      parameters:
      - name: serialNumber
        in: path
        required: true
        description: The serial number of the node which was specified during onboarding into the Nerve Management System.
        schema:
          description: The serial number of the node
          type: string
          maxLength: 12
          minLength: 12
          pattern: ([A-Z0-9]){12}
      - name: timeout
        in: query
        required: false
        description: The time how long to wait for the response in miliseconds
        schema:
          type: integer
          format: int32
          minimum: 10000
          default: 10000
          description: How long to wait for the response from the node [milliseconds]
          maximum: 86400000
      x-permissions:
      - DEVICE:LIST
      responses:
        '200':
          description: List of deployed workloads from a specific node
          content:
            application/json:
              schema:
                type: array
                description: List of deployed workloads from a specific node
                minItems: 0
                maxItems: 1001
                items:
                  description: Object contains information of deployed workload provided from OVDM
                  type: object
                  properties:
                    class:
                      type: string
                      description: Class of the device
                      enum:
                      - WiseGenericDev
                    device_firmware_version:
                      description: Firmware version of the device
                      minLength: 1
                      maxLength: 1000
                      type: string
                      pattern: ^[\x20-\x7E\t\n\r]*$
                    device_manufacturer:
                      type: string
                      description: Manufacturer of the device
                      enum:
                      - TTTech
                    device_model_name:
                      type: string
                      description: Device model name
                      enum:
                      - Docker
                      - KVM Virtual Machine
                      - Codesys
                      - Docker Compose
                    device_name:
                      type: string
                      description: Workload name
                      minLength: 1
                      maxLength: 40
                      pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                    id:
                      type: integer
                      format: int32
                      description: Id of the deployed workload
                      minimum: 100
                      maximum: 1000
                    status:
                      description: Numerical value representing the status of workload
                      type: integer
                      format: int32
                      minimum: 0
                      maximum: 13
                    versionId:
                      description: Version id generated for VM backups or version id from DB for docker workloads
                      minLength: 1
                      maxLength: 1000
                      type: string
                      pattern: ^[\x20-\x7E\t\n\r]*$
                    workloadId:
                      description: Workload id generated for VM backups or workload id from DB for docker workloads
                      minLength: 1
                      maxLength: 1000
                      type: string
                      pattern: ^[\x20-\x7E\t\n\r]*$
                    type:
                      description: Workload type
                      type: string
                      enum:
                      - docker
                      - vm
                      - codesys
                      - docker-compose
                    parentNodeSerial:
                      description: The serial number of the node
                      type: string
                      maxLength: 12
                      minLength: 12
                      pattern: ([A-Z0-9]){12}
                    features:
                      type: array
                      description: List of specific workload features(e.g. snapshot)
                      minItems: 0
                      maxItems: 1001
                      items:
                        type: object
                        required:
                        - name
                        - value
                        properties:
                          name:
                            description: Feature name
                            minLength: 1
                            maxLength: 1000
                            type: string
                            pattern: ^[\x20-\x7E\t\n\r]*$
                          value:
                            type: object
                            description: Feature value
                    layout:
                      type: array
                      description: List of layout items, currently not used
                      minItems: 0
                      maxItems: 0
                    service_list:
                      type: array
                      minItems: 0
                      maxItems: 1001
                      description: List of services running on the device
                      items:
                        type: object
                        properties:
                          category:
                            description: Category of the service
                            minLength: 1
                            maxLength: 1000
                            type: string
                            pattern: ^[\x20-\x7E\t\n\r]*$
                          name:
                            description: Name of the service
                            minLength: 1
                            maxLength: 1000
                            type: string
                            pattern: ^[\x20-\x7E\t\n\r]*$
                          priority:
                            description: Priority of the service
                            type: integer
                            format: int32
                            minimum: 0
                            maximum: 0
                          type:
                            description: Type of the service
                            minLength: 1
                            maxLength: 1000
                            type: string
                            pattern: ^[\x20-\x7E\t\n\r]*$
                          priority_list:
                            minItems: 0
                            maxItems: 1001
                            type: array
                            description: List of priority levels for the service
                            items:
                              type: object
                              properties:
                                name:
                                  description: Name of the priority level
                                  minLength: 1
                                  maxLength: 1000
                                  type: string
                                  pattern: ^[\x20-\x7E\t\n\r]*$
                                options:
                                  type: array
                                  description: List of options for the priority level
                                  minItems: 0
                                  maxItems: 1001
                                  items:
                                    minLength: 1
                                    maxLength: 1000
                                    type: string
                                    pattern: ^[\x20-\x7E\t\n\r]*$
                                value:
                                  description: Value of the priority level
                                  oneOf:
                                  - type: string
                                  - type: integer
                                    format: int64
                                    minimum: 0
                                    maximum: 1000000
                                timestamp:
                                  description: Timestamp of the priority level value
                                  type: integer
                                  format: int64
                                  minimum: 0
                                  maximum: 4102444800000
                    device_api_version:
                      description: API version of the device
                      minLength: 0
                      maxLength: 1000
                      type: string
                      pattern: ^[\x20-\x7E\t\n\r]*$
              examples:
                list_deployed_workloads:
                  value:
                  - value:
                      class: WiseGenericDev
                      device_firmware_version: '1.0'
                      device_manufacturer: TTTech
                      device_model_name: KVM Virtual Machine
                      device_name: slitazkvm
                      id: 331
                      status: 2
                      layout: []
                      service_list:
                      - category: dev_information
                        name: WiseConfigurationService
                        priority: 0
                        type: WiseConfigurationService
                        property_list:
                        - name: Value
                          options: []
                          value: '{"workloadId":"62e8e8ef39c508006b8c5231","versionId":"62e8e8ef39c508006b8c5232","workloadVersion":"slitaz kvm","workloadVersionName":"slitaz kvm","deployTime":1659433001122}'
                          timestamp: 1659433013838
                        - name: ConfigurationUpdateStatus
                          options: []
                          value: '{}'
                      - category: dev_information
                        name: VMControlService
                        priority: 0
                        type: VMControlService
                        property_list:
                        - name: Command
                          options:
                          - NONE
                          - START
                          - STOP
                          - SUSPEND
                          - RESUME
                          - RESTART
                          - REMOVE
                          value: 0
                        - name: Message
                          options: []
                          value: vm_started
                          timestamp: 1659684239582
                        - name: State
                          options:
                          - IDLE
                          - CREATING
                          - REMOVING
                          - SUSPENDING
                          - SUSPENDED
                          - STARTING
                          - RESTARTING
                          - RESUMING
                          - STARTED
                          - STOPPING
                          - STOPPED
                          - ERROR
                          - REMOVING_FAILED
                          value: 8
                          timestamp: 1659684239584
                        - name: CPUNumber
                          options: []
                          value: 2
                          timestamp: 1659617887944
                        - name: Memory
                          options: []
                          value: 2000000000
                          timestamp: 1659617887947
                      versionId: 62e8e8ef39c508006b8c5232
                      parentNodeSerial: MFN111111111
                      features:
                      - name: snapshot
                        value:
                          enabled: false
                          space: ''
                      workloadId: 62e8e8ef39c508006b8c5231
                      type: vm
                      device_api_version: 2.5.0
        '400':
          description: Route params validation error
          content:
            application/json:
              schema:
                description: Generic error response returned from the server in case of a failed operation.
                properties:
                  errorCode:
                    description: String that is used as a key for appropriate translation on the front-end application.
                    type: string
                    minLength: 4
                    maxLength: 100
                    pattern: ^[a-zA-Z0-9_-]*$
                  httpCode:
                    description: Http error code assigned to the error.
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: ^[0-9]*$
                  message:
                    description: Error message in English.
                    minLength: 5
                    maxLength: 512
                    type: string
                    pattern: ^[\x20-\x7E\t\n\r]*$
              example:
                errorCode: '00006'
                httpCode: '400'
                message: Route params validation error
        '403':
          description: You are not authorized to perform this operation
          content:
            application/json:
              schema:
                description: Generic error response returned from the server in case of a failed operation.
                properties:
                  errorCode:
                    description: String that is used as a key for appropriate translation on the front-end application.
                    type: string
                    minLength: 4
                    maxLength: 100
                    pattern: ^[a-zA-Z0-9_-]*$
                  httpCode:
                    description: Http error code assigned to the error.
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: ^[0-9]*$
                  message:
                    description: Error message in English.
                    minLength: 5
                    maxLength: 512
                    type: string
                    pattern: ^[\x20-\x7E\t\n\r]*$
              examples:
                not_authorized:
                  value:
                    errorCode: '00003'
                    httpCode: '403'
                    message: You are not authorized
        '404':
          description: Request failed, this is the response received when node with specified serial number does not exist.
          content:
            application/json:
              schema:
                description: Generic error response returned from the server in case of a failed operation.
                properties:
                  errorCode:
                    description: String that is used as a key for appropriate translation on the front-end application.
                    type: string
                    minLength: 4
                    maxLength: 100
                    pattern: ^[a-zA-Z0-9_-]*$
                  httpCode:
                    description: Http error code assigned to the error.
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: ^[0-9]*$
                  message:
                    description: Error message in English.
                    minLength: 5
                    maxLength: 512
                    type: string
                    pattern: ^[\x20-\x7E\t\n\r]*$
              examples:
                node_not_found:
                  value:
                    errorCode: 000719
                    httpCode: '404'
                    message: Node with this serial number does not exist
        '500':
          description: Request failed, this is the response received when an unexpected error occurred
          content:
            application/json:
              schema:
                description: Generic error response returned from the server in case of a failed operation.
                properties:
                  errorCode:
                    description: String that is used as a key for appropriate translation on the front-end application.
                    type: string
                    minLength: 4
                    maxLength: 100
                    pattern: ^[a-zA-Z0-9_-]*$
                  httpCode:
                    description: Http error code assigned to the error.
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: ^[0-9]*$
                  message:
                    description: Error message in English.
                    minLength: 5
                    maxLength: 512
                    type: string
                    pattern: ^[\x20-\x7E\t\n\r]*$
        '504':
          description: Node failed to response in expected time
          content:
            application/json:
              schema:
                description: Generic error response returned from the server in case of a failed operation.
                properties:
                  errorCode:
                    description: String that is used as a key for appropriate translation on the front-end application.
                    type: string
                    minLength: 4
                    maxLength: 100
                    pattern: ^[a-zA-Z0-9_-]*$
                  httpCode:
                    description: Http error code assigned to the error.
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: ^[0-9]*$
                  message:
                    description: Error message in English.
                    minLength: 5
                    maxLength: 512
                    type: string
                    pattern: ^[\x20-\x7E\t\n\r]*$
              example:
                errorCode: nerve_node_021
                httpCode: '504'
                message: Request rejected by timeout
      security:
      - sessionId: []
    servers:
    - url: https://trynerve1.nerve.cloud
  /nerve/node:
    post:
      summary: Create a node
      operationId: create_node
      tags:
      - Node
      description: Create a new node in the Nerve Management System.
      requestBody:
        description: Required parameters to create a new Node in the Management system.
        required: true
        content:
          application/json:
            schema:
              description: Basic information about node
              type: object
              required:
              - name
              - serialNumber
              - secureId
              properties:
                name:
                  type: string
                  description: The name of the node
                  minLength: 1
                  maxLength: 40
                  pattern: ^\s*(?=[a-zA-Z0-9_ -]+$)\S.*$
                serialNumber:
                  description: The serial number of the node
                  type: string
                  maxLength: 12
                  minLength: 12
                  pattern: ([A-Z0-9]){12}
                secureId:
                  type: string
                  description: Node secure id
                  minLength: 16
                  maxLength: 16
                  pattern: ([A-Za-z]|\d){16}
                labels:
                  type: array
                  minItems: 0
                  maxItems: 1001
                  items:
                    type: object
                    description: The key-value pair representing a label.
                    properties:
                      key:
                        description: Definition of a label key property
                        type: string
                        minLength: 1
                        maxLength: 40
                        pattern: ^[a-zA-Z0-9_-]*$
                      value:
                        description: Definition of a label value property
                        type: string
                        minLength: 1
                        maxLength: 40
                        pattern: ^[^\s]*$
                    required:
                    - key
                    - value
                  description: 'List of labels assigned to the node. A label key must be unique for each node it is assigned to (e.g. node cannot have both of these labels: "color: green" and "color: blue"). To remove specific label, just remove it from the list.'
                remoteConnections:
                  type: array
                  minItems: 0
                  maxItems: 1001
                  items:
                    description: Array of different remote connection types.
                    anyOf:
                    - type: object
                      description: Remote tunnel
                      required:
                      - name
                      - acknowledgment
                      - port
                      - localPort
                      - type
                      properties:
                        type:
                          type: string
                          description: Remote connection type
                          enum:
                          - TUNNEL
                        name:
                          type: string
                          description: Remote connection name
                          pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                          minLength: 1
                          maxLength: 40
                        acknowledgment:
                          type: string
                          description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                          enum:
                          - 'Yes'
                          - 'No'
                        hostname:
                          type: string
                          minLength: 0
                          maxLength: 0
                          pattern: ^$
                          description: Target hostname or ip address to which connection is established
                        port:
                          description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                          oneOf:
                          - type: integer
                            format: int32
                            minimum: 0
                            maximum: 65535
                            description: Port which is used to establish connection
                          - type: string
                            pattern: ^\d+$
                        localPort:
                          description: Port on local PC to establish remote tunnel
                          oneOf:
                          - type: integer
                            format: int32
                            minimum: 0
                            maximum: 65535
                            description: Port which is used to establish connection
                          - type: string
                            pattern: ^\d+$
                        oldName:
                          description: Old remote connection name
                          minLength: 0
                          maxLength: 1000
                          type: string
                          pattern: ^[\x20-\x7E\t\n\r]*$
                    - type: object
                      description: Remote tunnel
                      required:
                      - name
                      - acknowledgment
                      - hostname
                      - port
                      - localPort
                      - type
                      properties:
                        type:
                          type: string
                          description: Remote connection type
                          enum:
                          - TUNNEL
                        name:
                          type: string
                          description: Remote connection name
                          pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                          minLength: 1
                          maxLength: 40
                        acknowledgment:
                          type: string
                          description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                          enum:
                          - 'Yes'
                          - 'No'
                        hostname:
                          type: string
                          description: Target hostname or ip address to which connection is established
                          minLength: 1
                          maxLength: 40
                          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
                        port:
                          description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                          oneOf:
                          - type: integer
                            format: int32
                            minimum: 0
                            maximum: 65535
                            description: Port which is used to establish connection
                          - type: string
                            pattern: ^\d+$
                        localPort:
                          description: Port on local PC to establish remote tunnel
                          oneOf:
                          - type: integer
                            format: int32
                            minimum: 0
                            maximum: 65535
                            description: Port which is used to establish connection
                          - type: string
                            pattern: ^\d+$
                        oldName:
                          description: Old remote connection name
                          minLength: 0
                          maxLength: 1000
                          type: string
                          pattern: ^[\x20-\x7E\t\n\r]*$
                    - description: Remote screen VNC
                      allOf:
                      - anyOf:
                        - type: object
                          required:
                          - name
                          - numberOfConnections
                          - acknowledgment
                          - hostname
                          - port
                          - autoretry
                          - type
                          properties:
                            type:
                              type: string
                              description: Remote connection type
                              enum:
                              - SCREEN
                            name:
                              type: string
                              description: Remote connection name
                              pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                              minLength: 1
                              maxLength: 40
                            numberOfConnections:
                              type: integer
                              format: int32
                              description: The maximum number of simultaneous connections
                              minimum: 1
                              maximum: 100
                            acknowledgment:
                              type: string
                              description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                              enum:
                              - 'Yes'
                              - 'No'
                            hostname:
                              type: string
                              description: Target hostname or ip address to which connection is established
                              minLength: 1
                              maxLength: 40
                              pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
                            port:
                              description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                              oneOf:
                              - type: integer
                                format: int32
                                minimum: 0
                                maximum: 65535
                                description: Port which is used to establish connection
                              - type: string
                                pattern: ^\d+$
                            autoretry:
                              type: integer
                              format: int32
                              description: The number of times to retry connecting before giving up and returning an error
                              minimum: 1
                              maximum: 3
                            cursor:
                              type: string
                              description: 'Defines if the cursor is rendered locally or remotely  '
                              enum:
                              - ''
                              - local
                              - remote
                            readOnly:
                              type: boolean
                              description: Defines whether the connection should be read-only.
                            swapRedBlue:
                              description: Specifies whether the red and blue indicators for the remote connection should be swapped
                              type: boolean
                            oldName:
                              description: Old remote connection name
                              minLength: 0
                              maxLength: 1000
                              type: string
                              pattern: ^[\x20-\x7E\t\n\r]*$
                        - type: object
                          required:
                          - name
                          - numberOfConnections
                          - acknowledgment
                          - port
                          - autoretry
                          - type
                          properties:
                            type:
                              type: string
                              description: Remote connection type
                              enum:
                              - SCREEN
                            name:
                              type: string
                              description: Remote connection name
                              pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                              minLength: 1
                              maxLength: 40
                            numberOfConnections:
                              type: integer
                              format: int32
                              description: The maximum number of simultaneous connections
                              minimum: 1
                              maximum: 100
                            acknowledgment:
                              type: string
                              description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                              enum:
                              - 'Yes'
                              - 'No'
                            port:
                              description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                              oneOf:
                              - type: integer
                                format: int32
                                minimum: 0
                                maximum: 65535
                                description: Port which is used to establish connection
                              - type: string
                                pattern: ^\d+$
                            autoretry:
                              type: integer
                              format: int32
                              description: The number of times to retry connecting before giving up and returning an error
                              minimum: 1
                              maximum: 3
                            cursor:
                              type: string
                              description: 'Defines if the cursor is rendered locally or remotely  '
                              enum:
                              - ''
                              - local
                              - remote
                            readOnly:
                              type: boolean
                              description: Defines whether the connection should be read-only.
                            swapRedBlue:
                              description: Specifies whether the red and blue indicators for the remote connection should be swapped
                              type: boolean
                            oldName:
                              description: Old remote connection name
                              minLength: 0
                              maxLength: 1000
                              type: string
                              pattern: ^[\x20-\x7E\t\n\r]*$
                      - type: object
                        required:
                        - connection
                        - password
                        properties:
                          connection:
                            type: string
                            description: Remote screen type
                            enum:
                            - VNC
                          password:
                            description: Password to use when attempting authentication
                            minLength: 0
                            maxLength: 40
                            type: string
                            pattern: ^[\x20-\x7E\t\n\r]*$
                    - description: Remote screen SSH
                      allOf:
                      - anyOf:
                        - type: object
                          required:
                          - name
                          - numberOfConnections
                          - acknowledgment
                          - hostname
                          - port
                          - autoretry
                          - type
                          properties:
                            type:
                              type: string
                              description: Remote connection type
                              enum:
                              - SCREEN
                            name:
                              type: string
                              description: Remote connection name
                              pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                              minLength: 1
                              maxLength: 40
                            numberOfConnections:
                              type: integer
                              format: int32
                              description: The maximum number of simultaneous connections
                              minimum: 1
                              maximum: 100
                            acknowledgment:
                              type: string
                              description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                              enum:
                              - 'Yes'
                              - 'No'
                            hostname:
                              type: string
                              description: Target hostname or ip address to which connection is established
                              minLength: 1
                              maxLength: 40
                              pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
                            port:
                              description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                              oneOf:
                              - type: integer
                                format: int32
                                minimum: 0
                                maximum: 65535
                                description: Port which is used to establish connection
                              - type: string
                                pattern: ^\d+$
                            autoretry:
                              type: integer
                              format: int32
                              description: The number of times to retry connecting before giving up and returning an error
                              minimum: 1
                              maximum: 3
                            cursor:
                              type: string
                              description: 'Defines if the cursor is rendered locally or remotely  '
                              enum:
                              - ''
                              - local
                              - remote
                            readOnly:
                              type: boolean
                              description: Defines whether the connection should be read-only.
                            swapRedBlue:
                              description: Specifies whether the red and blue indicators for the remote connection should be swapped
                              type: boolean
                            oldName:
                              description: Old remote connection name
                              minLength: 0
                              maxLength: 1000
                              type: string
                              pattern: ^[\x20-\x7E\t\n\r]*$
                        - type: object
                          required:
                          - name
                          - numberOfConnections
                          - acknowledgment
                          - port
                          - autoretry
                          - type
                          properties:
                            type:
                              type: string
                              description: Remote connection type
                              enum:
                              - SCREEN
                            name:
                              type: string
                              description: Remote connection name
                              pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                              minLength: 1
                              maxLength: 40
                            numberOfConnections:
                              type: integer
                              format: int32
                              description: The maximum number of simultaneous connections
                              minimum: 1
                              maximum: 100
                            acknowledgment:
                              type: string
                              description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                              enum:
                              - 'Yes'
                              - 'No'
                            port:
                              description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                              oneOf:
                              - type: integer
                                format: int32
                                minimum: 0
                                maximum: 65535
                                description: Port which is used to establish connection
                              - type: string
                                pattern: ^\d+$
                            autoretry:
                              type: integer
                              format: int32
                              description: The number of times to retry connecting before giving up and returning an error
                              minimum: 1
                              maximum: 3
                            cursor:
                              type: string
                              description: 'Defines if the cursor is rendered locally or remotely  '
                              enum:
                              - ''
                              - local
                              - remote
                            readOnly:
                              type: boolean
                              description: Defines whether the connection should be read-only.
                            swapRedBlue:
                              description: Specifies whether the red and blue indicators for the remote connection should be swapped
                              type: boolean
                            oldName:
                              description: Old remote connection name
                              minLength: 0
                              maxLength: 1000
                              type: string
                              pattern: ^[\x20-\x7E\t\n\r]*$
                      - type: object
                        required:
                        - connection
                        properties:
                          connection:
                            type: string
                            description: Remote screen type
                            enum:
                            - SSH
                          username:
                            type: string
                            description: Username to use for authentication
                            minLength: 0
                            maxLength: 40
                            pattern: ^[^\u0000-\u001f\u007f-\u009f:]*$
                          password:
                            description: Password to use when attempting authentication
                            minLength: 0
                            maxLength: 40
                            type: string
                            pattern: ^[\x20-\x7E\t\n\r]*$
                          privatekeyFlag:
                            type: boolean
                            default: false
                            description: Option to choose authentication via private SSH key
                          privateKey:
                            description: The contents of the private key to use for authentication
                            minLength: 0
                            maxLength: 1000
                            type: string
                            pattern: ^[\x20-\x7E\t\n\r]*$
                    - description: Remote screen RDP
                      allOf:
                      - anyOf:
                        - type: object
                          required:
                          - name
                          - numberOfConnections
                          - acknowledgment
                          - hostname
                          - port
                          - autoretry
                          - type
                          properties:
                            type:
                              type: string
                              description: Remote connection type
                              enum:
                              - SCREEN
                            name:
                              type: string
                              description: Remote connection name
                              pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                              minLength: 1
                              maxLength: 40
                            numberOfConnections:
                              type: integer
                              format: int32
                              description: The maximum number of simultaneous connections
                              minimum: 1
                              maximum: 100
                            acknowledgment:
                              type: string
                              description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                              enum:
                              - 'Yes'
                              - 'No'
                            hostname:
                              type: string
                              description: Target hostname or ip address to which connection is established
                              minLength: 1
                              maxLength: 40
                              pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
                            port:
                              description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                              oneOf:
                              - type: integer
                                format: int32
                                minimum: 0
                                maximum: 65535
                                description: Port which is used to establish connection
                              - type: string
                                pattern: ^\d+$
                            autoretry:
                              type: integer
                              format: int32
                              description: The number of times to retry connecting before giving up and returning an error
                              minimum: 1
                              maximum: 3
                            cursor:
                              type: string
                              description: 'Defines if the cursor is rendered locally or remotely  '
                              enum:
                              - ''
                              - local
                              - remote
                            readOnly:
                              type: boolean
                              description: Defines whether the connection should be read-only.
                            swapRedBlue:
                              description: Specifies whether the red and blue indicators for the remote connection should be swapped
                              type: boolean
                            oldName:
                              description: Old remote connection name
                              minLength: 0
                              maxLength: 1000
                              type: string
                              pattern: ^[\x20-\x7E\t\n\r]*$
                        - type: object
                          required:
                          - name
                          - numberOfConnections
                          - acknowledgment
                          - port
                          - autoretry
                          - type
                          properties:
                            type:
                              type: string
                              description: Remote connection type
                              enum:
                              - SCREEN
                            name:
                              type: string
                              description: Remote connection name
                              pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                              minLength: 1
                              maxLength: 40
                            numberOfConnections:
                              type: integer
                              format: int32
                              description: The maximum number of simultaneous connections
                              minimum: 1
                              maximum: 100
                            acknowledgment:
                              type: string
                              description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                              enum:
                              - 'Yes'
                              - 'No'
                            port:
                              description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                              oneOf:
                              - type: integer
                                format: int32
                                minimum: 0
                                maximum: 65535
                                description: Port which is used to establish connection
                              - type: string
                                pattern: ^\d+$
                            autoretry:
                              type: integer
                              format: int32
                              description: The number of times to retry connecting before giving up and returning an error
                              minimum: 1
                              maximum: 3
                            cursor:
                              type: string
                              description: 'Defines if the cursor is rendered locally or remotely  '
                              enum:
                              - ''
                              - local
                              - remote
                            readOnly:
                              type: boolean
                              description: Defines whether the connection should be read-only.
                            swapRedBlue:
                              description: Specifies whether the red and blue indicators for the remote connection should be swapped
                              type: boolean
                            oldName:
                              description: Old remote connection name
                              minLength: 0
                              maxLength: 1000
                              type: string
                              pattern: ^[\x20-\x7E\t\n\r]*$
                      - type: object
                        required:
                        - connection
                        properties:
                          connection:
                            type: string
                            description: Remote screen type
                            enum:
                            - RDP
                          username:
                            type: string
                            description: Username to use for authentication
                            minLength: 0
                            maxLength: 40
                            pattern: ^[^\u0000-\u001f\u007f-\u009f:]*$
                          password:
                            description: Password to use when attempting authentication
                            minLength: 0
                            maxLength: 40
                            type: string
                            pattern: ^[\x20-\x7E\t\n\r]*$
                          ignoreServerCertificate:
                            type: boolean
                            default: false
                            description: Defines if the server certificate should be ignored when connecting to the target
                          securityMode:
                            type: string
                            description: Dictates how data will be encrypted and what type of authentication will be performed
                            enum:
                            - ''
                            - any
                            - nla
                            - rdp
                            - tls
                  description: List of defined remote connections
            example:
              name: mfn lab01
              secureId: MFNLAB0000000000
              serialNumber: MFNLAB000000
              labels: []
              remoteConnections: []
      x-permissions:
      - NODE:CREATE
      responses:
        '200':
          description: Node successfully created
          content:
            application/json:
              schema:
                description: Node object from the database
                type: object
                allOf:
                - description: Node object  from the database without remote connections
                  type: object
                  required:
                  - name
                  - serialNumber
                  - type
                  - hash
                  - labels
                  - subgroup
                  - created
                  - rebootStatus
                  - connectionStatus
                  - vmBackup
                  - vmSnapshot
                  - userId
                  properties:
                    _id:
                      allOf:
                      - description: ID (from Management System) of the entry. Can be a string or an object.
                        oneOf:
                        - description: ID (from Management System) of the entry
                          type: string
                          pattern: ^[0-9a-fA-F]{24}$
                          minLength: 24
                          maxLength: 24
                        - type: object
                      - description: Node id from the database (nodeId)
                    name:
                      type: string
                      description: The name of the node
                      minLength: 1
                      maxLength: 40
                      pattern: ^\s*(?=[a-zA-Z0-9_ -]+$)\S.*$
                    serialNumber:
                      description: The serial number of the node
                      type: string
                      maxLength: 12
                      minLength: 12
                      pattern: ([A-Z0-9]){12}
                    model:
                      description: The name of the hardware model (hardware model must be defined in the database)
                      minLength: 1
                      maxLength: 1000
                      type: string
                      pattern: ^[\x20-\x7E\t\n\r]*$
                    labels:
                      description: List of labels assigned to the node
                      type: array
                      minItems: 0
                      maxItems: 1001
                      items:
                        description: Label DB id
                    type:
                      type: string
                      minLength: 1
                      maxLength: 1000
                      pattern: ^[\x20-\x7E\t\n\r]*$
                      description: Type of the device
                      default: hg
                    hash:
                      type: string
                      pattern: ^[\x20-\x7E\t\n\r]*$
                      minLength: 1
                      maxLength: 1000
                      description: Calculated hash
                    hardwareId:
                      description: ID (from Management System) of the entry. Can be a string or an object.
                      oneOf:
                      - description: ID (from Management System) of the entry
                        type: string
                        pattern: ^[0-9a-fA-F]{24}$
                        minLength: 24
                        maxLength: 24
                      - type: object
                    manufacturer:
                      type: string
                      pattern: ^[\x20-\x7E\t\n\r]*$
                      description: Identification of the hardware manufacturer(human readable)
                      default: nerve
                      minLength: 1
                      maxLength: 1000
                    oui:
                      type: string
                      pattern: ^[\x20-\x7E\t\n\r]*$
                      description: Identification of the hardware manufacturer
                      default: nerve
                      minLength: 1
                      maxLength: 1000
                    subgroup:
                      type: string
                      pattern: ^[\x20-\x7E\t\n\r]*$
                      minLength: 1
                      maxLength: 1000
                      description: Node subgroup
                    unassignInProgress:
                      type: boolean
                      description: Indicates if unassigning node is in progress(OBLO legacy)
                    isAutomaticallyBackup:
                      type: boolean
                      description: (OBLO legacy)
                      default: false
                    staging:
                      type: string
                      pattern: ^[\x20-\x7E\t\n\r]*$
                      minLength: 1
                      maxLength: 1000
                      description: Node staging type [beta, test, latest, minimum](OBLO legacy)
                      default: beta
                    installationInProgress:
                      type: boolean
                      description: Indicates if installation of software is in progress(OBLO legacy)
                    created:
                      description: Date when node was created
                      anyOf:
                      - type: string
                        description: Date and time in ISO 8601 format
                        format: date-time
                        pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$
                        minLength: 24
                        maxLength: 24
                      - type: object
                    installations:
                      type: array
                      minItems: 0
                      maxItems: 1001
                      description: List of software assigned to the node(OBLO legacy)
                      items:
                        type: object
                    factoryResetStatus:
                      type: boolean
                      description: Indicates if factory reset procedure initiated from SC(OBLO legacy)
                    rebootStatus:
                      type: boolean
                      description: Indicates if reboot procedure initiated from SC(OBLO legacy)
                    backupRestoreInProgress:
                      type: boolean
                      description: Determines backup status(OBLO legacy)
                    isUpdating:
                      type: boolean
                      description: Is node currently updating to newer version
                    vmBackup:
                      type:
                      - boolean
                      - 'null'
                      description: Is the VM backup option is allowed on the node
                      default: false
                    vmSnapshot:
                      type:
                      - boolean
                      - 'null'
                      description: Is the VM snapshot option is allowed on the node
                      default: false
                    updateStartedTimestamp:
                      type:
                      - integer
                      - 'null'
                      format: int64
                      description: Timestamp when node update started
                      minimum: 0
                      maximum: 4102444800000
                    lastSystemStart:
                      type:
                      - integer
                      - 'null'
                      format: int64
                      description: Timestamp when the node was last started
                      minimum: 0
                      maximum: 4102444800000
                    connectionStatus:
                      description: Status if the node connection to MS
                      enum:
                      - online
                      - offline
                    userId:
                      allOf:
                      - description: ID (from Management System) of the entry
                        type: string
                        pattern: ^[0-9a-fA-F]{24}$
                        minLength: 24
                        maxLength: 24
                      - description: User id from the database (_id) of the user who created the node
                    capabilities:
                      type: array
                      minItems: 0
                      maxItems: 1001
                      description: List of capabilities
                      items:
                        type: object
                        description: List of capabilities.
                        properties:
                          name:
                            type: string
                            pattern: ^[\x20-\x7E\t\n\r]*$
                            minLength: 1
                            maxLength: 1000
                            description: Capability name
                          description:
                            type: string
                            pattern: ^[\x20-\x7E\t\n\r]*$
                            minLength: 0
                            maxLength: 1000
                            description: Short capability description
                    imageVariant:
                      type: string
                      pattern: ^[\x20-\x7E\t\n\r]*$
                      description: Image variant (introduced for generic image updates)
                      default: ''
                      minLength: 0
                      maxLength: 1000
                    lastTimeStatusUpdated:
                      description: Timestamp of the last time the status was updated
                      anyOf:
                      - type:
                        - string
                        - 'null'
                        format: date-time
                        minLength: 8
                        maxLength: 30
                      - type:
                        - object
                        - 'null'
                    currentFWVersion:
                      minLength: 0
                      maxLength: 1000
                      description: Node version(e.g. 2.5)
                      default: ''
                      type: string
                      pattern: ^[\x20-\x7E\t\n\r]*$
                    heartBeatReceived:
                      description: Timestamp of the node heartbeat message
                      type: number
                    timezone:
                      description: Timezone set on node
                      type:
                      - object
                      - 'null'
                      properties:
                        name:
                          type: string
                          pattern: ^[\x20-\x7E\t\n\r]*$
                          description: The timezone setup on node
                          minLength: 1
                          maxLength: 1000
                    hardwareName:
                      description: The name of the hardware model
                      type: string
                      minLength: 1
                      maxLength: 1000
                      pattern: ^[a-zA-Z0-9\s-]+$
                - type: object
                  required:
                  - remoteConnections
                  properties:
                    remoteConnections:
                      type: array
                      description: List of defined remote connections
                      minItems: 0
                      maxItems: 1001
                      items:
                        description: Array of different remote connection types.
                        anyOf:
                        - type: object
                          description: Remote tunnel
                          required:
                          - name
                          - acknowledgment
                          - port
                          - localPort
                          - type
                          properties:
                            type:
                              type: string
                              description: Remote connection type
                              enum:
                              - TUNNEL
                            name:
                              type: string
                              description: Remote connection name
                              pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                              minLength: 1
                              maxLength: 40
                            acknowledgment:
                              type: string
                              description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                              enum:
                              - 'Yes'
                              - 'No'
                            hostname:
                              type: string
                              minLength: 0
                              maxLength: 0
                              pattern: ^$
                              description: Target hostname or ip address to which connection is established
                            port:
                              description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                              oneOf:
                              - type: integer
                                format: int32
                                minimum: 0
                                maximum: 65535
                                description: Port which is used to establish connection
                              - type: string
                                pattern: ^\d+$
                            localPort:
                              description: Port on local PC to establish remote tunnel
                              oneOf:
                              - type: integer
                                format: int32
                                minimum: 0
                                maximum: 65535
                                description: Port which is used to establish connection
                              - type: string
                                pattern: ^\d+$
                            oldName:
                              description: Old remote connection name
                              minLength: 0
                              maxLength: 1000
                              type: string
                              pattern: ^[\x20-\x7E\t\n\r]*$
                        - type: object
                          description: Remote tunnel
                          required:
                          - name
                          - acknowledgment
                          - hostname
                          - port
                          - localPort
                          - type
                          properties:
                            type:
                              type: string
                              description: Remote connection type
                              enum:
                              - TUNNEL
                            name:
                              type: string
                              description: Remote connection name
                              pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                              minLength: 1
                              maxLength: 40
                            acknowledgment:
                              type: string
                              description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                              enum:
                              - 'Yes'
                              - 'No'
                            hostname:
                              type: string
                              description: Target hostname or ip address to which connection is established
                              minLength: 1
                              maxLength: 40
                              pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
                            port:
                              description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                              oneOf:
                              - type: integer
                                format: int32
                                minimum: 0
                                maximum: 65535
                                description: Port which is used to establish connection
                              - type: string
                                pattern: ^\d+$
                            localPort:
                              description: Port on local PC to establish remote tunnel
                              oneOf:
                              - type: integer
                                format: int32
                                minimum: 0
                                maximum: 65535
                                description: Port which is used to establish connection
                              - type: string
                                pattern: ^\d+$
                            oldName:
                              description: Old remote connection name
                              minLength: 0
                              maxLength: 1000
                              type: string
                              pattern: ^[\x20-\x7E\t\n\r]*$
                        - description: Remote screen VNC
                          allOf:
                          - anyOf:
                            - type: object
                              required:
                              - name
                              - numberOfConnections
                              - acknowledgment
                              - hostname
                              - port
                              - autoretry
                              - type
                              properties:
                                type:
                                  type: string
                                  description: Remote connection type
                                  enum:
                                  - SCREEN
                                name:
                                  type: string
                                  description: Remote connection name
                                  pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                                  minLength: 1
                                  maxLength: 40
                                numberOfConnections:
                                  type: integer
                                  format: int32
                                  description: The maximum number of simultaneous connections
                                  minimum: 1
                                  maximum: 100
                                acknowledgment:
                                  type: string
                                  description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                                  enum:
                                  - 'Yes'
                                  - 'No'
                                hostname:
                                  type: string
                                  description: Target hostname or ip address to which connection is established
                                  minLength: 1
                                  maxLength: 40
                                  pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
                                port:
                                  description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                                  oneOf:
                                  - type: integer
                                    format: int32
                                    minimum: 0
                                    maximum: 65535
                                    description: Port which is used to establish connection
                                  - type: string
                                    pattern: ^\d+$
                                autoretry:
                                  type: integer
                                  format: int32
                                  description: The number of times to retry connecting before giving up and returning an error
                                  minimum: 1
                                  maximum: 3
                                cursor:
                                  type: string
                                  description: 'Defines if the cursor is rendered locally or remotely  '
                                  enum:
                                  - ''
                                  - local
                                  - remote
                                readOnly:
                                  type: boolean
                                  description: Defines whether the connection should be read-only.
                                swapRedBlue:
                                  description: Specifies whether the red and blue indicators for the remote connection should be swapped
                                  type: boolean
                                oldName:
                                  description: Old remote connection name
                                  minLength: 0
                                  maxLength: 1000
                                  type: string
                                  pattern: ^[\x20-\x7E\t\n\r]*$
                            - type: object
                              required:
                              - name
                              - numberOfConnections
                              - acknowledgment
                              - port
                              - autoretry
                              - type
                              properties:
                                type:
                                  type: string
                                  description: Remote connection type
                                  enum:
                                  - SCREEN
                                name:
                                  type: string
                                  description: Remote connection name
                                  pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                                  minLength: 1
                                  maxLength: 40
                                numberOfConnections:
                                  type: integer
                                  format: int32
                                  description: The maximum number of simultaneous connections
                                  minimum: 1
                                  maximum: 100
                                acknowledgment:
                                  type: string
                                  description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                                  enum:
                                  - 'Yes'
                                  - 'No'
                                port:
                                  description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                                  oneOf:
                                  - type: integer
                                    format: int32
                                    minimum: 0
                                    maximum: 65535
                                    description: Port which is used to establish connection
                                  - type: string
                                    pattern: ^\d+$
                                autoretry:
                                  type: integer
                                  format: int32
                                  description: The number of times to retry connecting before giving up and returning an error
                                  minimum: 1
                                  maximum: 3
                                cursor:
                                  type: string
                                  description: 'Defines if the cursor is rendered locally or remotely  '
                                  enum:
                                  - ''
                                  - local
                                  - remote
                                readOnly:
                                  type: boolean
                                  description: Defines whether the connection should be read-only.
                                swapRedBlue:
                                  description: Specifies whether the red and blue indicators for the remote connection should be swapped
                                  type: boolean
                                oldName:
                                  description: Old remote connection name
                                  minLength: 0
                                  maxLength: 1000
                                  type: string
                                  pattern: ^[\x20-\x7E\t\n\r]*$
                          - type: object
                            required:
                            - connection
                            - password
                            properties:
                              connection:
                                type: string
                                description: Remote screen type
                                enum:
                                - VNC
                              password:
                                description: Password to use when attempting authentication
                                minLength: 0
                                maxLength: 40
                                type: string
                                pattern: ^[\x20-\x7E\t\n\r]*$
                        - description: Remote screen SSH
                          allOf:
                          - anyOf:
                            - type: object
                              required:
                              - name
                              - numberOfConnections
                              - acknowledgment
                              - hostname
                              - port
                              - autoretry
                              - type
                              properties:
                                type:
                                  type: string
                                  description: Remote connection type
                                  enum:
                                  - SCREEN
                                name:
                                  type: string
                                  description: Remote connection name
                                  pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                                  minLength: 1
                                  maxLength: 40
                                numberOfConnections:
                                  type: integer
                                  format: int32
                                  description: The maximum number of simultaneous connections
                                  minimum: 1
                                  maximum: 100
                                acknowledgment:
                                  type: string
                                  description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                                  enum:
                                  - 'Yes'
                                  - 'No'
                                hostname:
                                  type: string
                                  description: Target hostname or ip address to which connection is established
                                  minLength: 1
                                  maxLength: 40
                                  pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
                                port:
                                  description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                                  oneOf:
                                  - type: integer
                                    format: int32
                                    minimum: 0
                                    maximum: 65535
                                    description: Port which is used to establish connection
                                  - type: string
                                    pattern: ^\d+$
                                autoretry:
                                  type: integer
                                  format: int32
                                  description: The number of times to retry connecting before giving up and returning an error
                                  minimum: 1
                                  maximum: 3
                                cursor:
                                  type: string
                                  description: 'Defines if the cursor is rendered locally or remotely  '
                                  enum:
                                  - ''
                                  - local
                                  - remote
                                readOnly:
                                  type: boolean
                                  description: Defines whether the connection should be read-only.
                                swapRedBlue:
                                  description: Specifies whether the red and blue indicators for the remote connection should be swapped
                                  type: boolean
                                oldName:
                                  description: Old remote connection name
                                  minLength: 0
                                  maxLength: 1000
                                  type: string
                                  pattern: ^[\x20-\x7E\t\n\r]*$
                            - type: object
                              required:
                              - name
                              - numberOfConnections
                              - acknowledgment
                              - port
                              - autoretry
                              - type
                              properties:
                                type:
                                  type: string
                                  description: Remote connection type
                                  enum:
                                  - SCREEN
                                name:
                                  type: string
                                  description: Remote connection name
                                  pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                                  minLength: 1
                                  maxLength: 40
                                numberOfConnections:
                                  type: integer
                                  format: int32
                                  description: The maximum number of simultaneous connections
                                  minimum: 1
                                  maximum: 100
                                acknowledgment:
                                  type: string
                                  description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                                  enum:
                                  - 'Yes'
                                  - 'No'
                                port:
                                  description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                                  oneOf:
                                  - type: integer
                                    format: int32
                                    minimum: 0
                                    maximum: 65535
                                    description: Port which is used to establish connection
                                  - type: string
                                    pattern: ^\d+$
                                autoretry:
                                  type: integer
                                  format: int32
                                  description: The number of times to retry connecting before giving up and returning an error
                                  minimum: 1
                                  maximum: 3
                                cursor:
                                  type: string
                                  description: 'Defines if the cursor is rendered locally or remotely  '
                                  enum:
                                  - ''
                                  - local
                                  - remote
                                readOnly:
                                  type: boolean
                                  description: Defines whether the connection should be read-only.
                                swapRedBlue:
                                  description: Specifies whether the red and blue indicators for the remote connection should be swapped
                                  type: boolean
                                oldName:
                                  description: Old remote connection name
                                  minLength: 0
                                  maxLength: 1000
                                  type: string
                                  pattern: ^[\x20-\x7E\t\n\r]*$
                          - type: object
                            required:
                            - connection
                            properties:
                              connection:
                                type: string
                                description: Remote screen type
                                enum:
                                - SSH
                              username:
                                type: string
                                description: Username to use for authentication
                                minLength: 0
                                maxLength: 40
                                pattern: ^[^\u0000-\u001f\u007f-\u009f:]*$
                              password:
                                description: Password to use when attempting authentication
                                minLength: 0
                                maxLength: 40
                                type: string
                                pattern: ^[\x20-\x7E\t\n\r]*$
                              privatekeyFlag:
                                type: boolean
                                default: false
                                description: Option to choose authentication via private SSH key
                              privateKey:
                                description: The contents of the private key to use for authentication
                                minLength: 0
                                maxLength: 1000
                                type: string
                                pattern: ^[\x20-\x7E\t\n\r]*$
                        - description: Remote screen RDP
                          allOf:
                          - anyOf:
                            - type: object
                              required:
                              - name
                              - numberOfConnections
                              - acknowledgment
                              - hostname
                              - port
                              - autoretry
                              - type
                              properties:
                                type:
                                  type: string
                                  description: Remote connection type
                                  enum:
                                  - SCREEN
                                name:
                                  type: string
                                  description: Remote connection name
                                  pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                                  minLength: 1
                                  maxLength: 40
                                numberOfConnections:
                                  type: integer
                                  format: int32
                                  description: The maximum number of simultaneous connections
                                  minimum: 1
                                  maximum: 100
                                acknowledgment:
                                  type: string
                                  description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                                  enum:
                                  - 'Yes'
                                  - 'No'
                                hostname:
                                  type: string
                                  description: Target hostname or ip address to which connection is established
                                  minLength: 1
                                  maxLength: 40
                                  pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
                                port:
                                  description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                                  oneOf:
                                  - type: integer
                                    format: int32
                                    minimum: 0
                                    maximum: 65535
                                    description: Port which is used to establish connection
                                  - type: string
                                    pattern: ^\d+$
                                autoretry:
                                  type: integer
                                  format: int32
                                  description: The number of times to retry connecting before giving up and returning an error
                                  minimum: 1
                                  maximum: 3
                                cursor:
                                  type: string
                                  description: 'Defines if the cursor is rendered locally or remotely  '
                                  enum:
                                  - ''
                                  - local
                                  - remote
                                readOnly:
                                  type: boolean
                                  description: Defines whether the connection should be read-only.
                                swapRedBlue:
                                  description: Specifies whether the red and blue indicators for the remote connection should be swapped
                                  type: boolean
                                oldName:
                                  description: Old remote connection name
                                  minLength: 0
                                  maxLength: 1000
                                  type: string
                                  pattern: ^[\x20-\x7E\t\n\r]*$
                            - type: object
                              required:
                              - name
                              - numberOfConnections
                              - acknowledgment
                              - port
                              - autoretry
                              - type
                              properties:
                                type:
                                  type: string
                                  description: Remote connection type
                                  enum:
                                  - SCREEN
                                name:
                                  type: string
                                  description: Remote connection name
                                  pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                                  minLength: 1
                                  maxLength: 40
                                numberOfConnections:
                                  type: integer
                                  format: int32
                                  description: The maximum number of simultaneous connections
                                  minimum: 1
                                  maximum: 100
                                acknowledgment:
                                  type: string
                                  description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                                  enum:
                                  - 'Yes'
                                  - 'No'
                                port:
                                  description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                                  oneOf:
                                  - type: integer
                                    format: int32
                                    minimum: 0
                                    maximum: 65535
                                    description: Port which is used to establish connection
                                  - type: string
                                    pattern: ^\d+$
                                autoretry:
                                  type: integer
                                  format: int32
                                  description: The number of times to retry connecting before giving up and returning an error
                                  minimum: 1
                                  maximum: 3
                                cursor:
                                  type: string
                                  description: 'Defines if the cursor is rendered locally or remotely  '
                                  enum:
                                  - ''
                                  - local
                                  - remote
                                readOnly:
                                  type: boolean
                                  description: Defines whether the connection should be read-only.
                                swapRedBlue:
                                  description: Specifies whether the red and blue indicators for the remote connection should be swapped
                                  type: boolean
                                oldName:
                                  description: Old remote connection name
                                  minLength: 0
                                  maxLength: 1000
                                  type: string
                                  pattern: ^[\x20-\x7E\t\n\r]*$
                          - type: object
                            required:
                            - connection
                            properties:
                              connection:
                                type: string
                                description: Remote screen type
                                enum:
                                - RDP
                              username:
                                type: string
                                description: Username to use for authentication
                                minLength: 0
                                maxLength: 40
                                pattern: ^[^\u0000-\u001f\u007f-\u009f:]*$
                              password:
                                description: Password to use when attempting authentication
                                minLength: 0
                                maxLength: 40
                                type: string
                                pattern: ^[\x20-\x7E\t\n\r]*$
                              ignoreServerCertificate:
                                type: boolean
                                default: false
                                description: Defines if the server certificate should be ignored when connecting to the target
[...]
