openapi: 3.2.0
info:
  version: 3.1.0
  description: 'Nerve Management System API to manage: -labels -nodes -workloads -notifications -capabilities'
  title: Nerve Management System WL VERSION V2 API
  contact:
    name: Nerve support
    email: support@tttech-industrial.com
servers:
- url: https://trynerve1.nerve.cloud
security:
- sessionId: []
tags:
- name: WL_VERSION_v2
  description: The operations to manage specific versions of workloads v2
paths:
  /nerve/v2/workloads/{workloadId}/versions/{versionId}:
    delete:
      summary: Delete selected workload version
      operationId: delete_workload_version
      tags:
      - WL_VERSION_v2
      description: This method is used to delete specific workload version
      parameters:
      - name: workloadId
        in: path
        required: true
        description: Workload Id
        schema:
          description: ID (from Management System) of the entry
          type: string
          pattern: ^[0-9a-fA-F]{24}$
          minLength: 24
          maxLength: 24
      - name: versionId
        in: path
        required: true
        description: Workload version Id
        schema:
          description: ID (from Management System) of the entry
          type: string
          pattern: ^[0-9a-fA-F]{24}$
          minLength: 24
          maxLength: 24
      x-permissions:
      - WORKLOAD:VERSION_DELETE
      responses:
        '200':
          description: Workload version deleted
          content:
            application/json:
              schema:
                description: workload basic info
                type: object
                required:
                - name
                - type
                - deleted
                - disabled
                - _id
                properties:
                  name:
                    type: string
                    description: Workload name
                    minLength: 1
                    maxLength: 40
                    pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                  type:
                    description: Workload type
                    type: string
                    enum:
                    - docker
                    - vm
                    - codesys
                    - docker-compose
                  changedBy:
                    type: object
                    description: Information about user who changed the workload
                    required:
                    - date
                    properties:
                      date:
                        description: Changed date
                        anyOf:
                        - type: string
                          format: date-time
                          minLength: 8
                          maxLength: 30
                        - type: object
                      user:
                        description: User who changed the workload
                        anyOf:
                        - type:
                          - string
                          - 'null'
                        - type:
                          - object
                          - 'null'
                  createdBy:
                    type: object
                    description: Information about user who created the workload
                    required:
                    - date
                    properties:
                      date:
                        description: Creation date
                        anyOf:
                        - type: string
                          format: date-time
                          minLength: 8
                          maxLength: 30
                        - type: object
                      user:
                        description: User who created the workload
                        oneOf:
                        - type: string
                        - type: object
                  deleted:
                    description: Indicates if the workload marked as deleted:)
                    type: boolean
                    default: false
                  disabled:
                    description: Indicates if workload can be used in deployment or no
                    type: boolean
                  description:
                    description: Workload description field
                    type: string
                    minLength: 0
                    maxLength: 300
                    pattern: ^[\s\S]*$
                  _id:
                    description: ID (from Management System) of the entry. Can be a string or an object.
                    oneOf:
                    - description: ID (from Management System) of the entry
                      type: string
                      pattern: ^[0-9a-fA-F]{24}$
                      minLength: 24
                      maxLength: 24
                    - type: object
                  tenant:
                    description: Reference to 'Tenant' collection
                    oneOf:
                    - type: string
                      pattern: ^[0-9a-fA-F]{24}$
                      minLength: 20
                      maxLength: 40
                    - type: object
                  path:
                    description: The path to the tenant folder
                    minLength: 1
                    maxLength: 1000
                    type: string
                    pattern: ^[\x20-\x7E\t\n\r]*$
                  __v:
                    type: number
                    description: Internal version key used by Mongoose for document versioning
                  versions:
                    type: array
                    minItems: 0
                    maxItems: 1001
                    default: []
                    description: Workload version data
                    items:
                      description: Workload version data
                      oneOf:
                      - allOf:
                        - description: Docker version info from db
                          type: object
                          required:
                          - name
                          - releaseName
                          - deleted
                          - released
                          - files
                          - isDeployable
                          - isDownloading
                          - hash
                          properties:
                            name:
                              type: string
                              description: Version name
                              minLength: 1
                              maxLength: 40
                              pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                            releaseName:
                              type: string
                              description: Release name
                              minLength: 1
                              maxLength: 40
                              pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                            deleted:
                              description: Indicates if the version marked as deleted
                              type: boolean
                            released:
                              description: Indicates if the version is released
                              type: boolean
                            isDeployable:
                              description: Indicates if the version can be used in deployment
                              type: boolean
                            isDownloading:
                              description: Indicates if the version is in downloading state
                              type: boolean
                            hash:
                              description: Hash of the version structure that changes with every change in version files or properties
                              default: ''
                              minLength: 0
                              maxLength: 1000
                              type: string
                              pattern: ^[\x20-\x7E\t\n\r]*$
                            _id:
                              description: Version id
                              oneOf:
                              - type: object
                              - type: string
                            files:
                              description: List of files attached to the version
                              minItems: 0
                              maxItems: 1001
                              anyOf:
                              - type: array
                                minItems: 1
                                maxItems: 1
                                items:
                                  allOf:
                                  - type: object
                                    required:
                                    - compressedSize
                                    - hash
                                    - name
                                    - originalName
                                    - path
                                    - size
                                    - type
                                    - _id
                                    properties:
                                      compressedSize:
                                        description: Size of compressed file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      hash:
                                        description: Calculated hash
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      name:
                                        description: Name of the archived file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      originalName:
                                        description: Name of the uploaded file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      path:
                                        description: File path within 'workload' folder
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      size:
                                        description: Size of the file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      type:
                                        description: Type of the file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      _id:
                                        description: File id
                                        oneOf:
                                        - type: object
                                        - type: string
                                  - type: object
                                    required:
                                    - fieldName
                                    properties:
                                      imageId:
                                        description: Id of the image if dockerFileOption is path
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      fieldName:
                                        type: string
                                        description: Identifier of the file field
                                        enum:
                                        - file
                              - type: array
                                minItems: 1
                                maxItems: 1
                                items:
                                  allOf:
                                  - type: object
                                    required:
                                    - compressedSize
                                    - hash
                                    - name
                                    - originalName
                                    - path
                                    - size
                                    - type
                                    - _id
                                    properties:
                                      compressedSize:
                                        description: Size of compressed file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      hash:
                                        description: Calculated hash
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      name:
                                        description: Name of the archived file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      originalName:
                                        description: Name of the uploaded file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      path:
                                        description: File path within 'workload' folder
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      size:
                                        description: Size of the file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      type:
                                        description: Type of the file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      _id:
                                        description: File id
                                        oneOf:
                                        - type: object
                                        - type: string
                                  - type: object
                                    required:
                                    - fieldName
                                    properties:
                                      fieldName:
                                        type: string
                                        description: Identifier of the file field
                                        enum:
                                        - file
                              - type: array
                                minItems: 2
                                maxItems: 2
                                items:
                                  allOf:
                                  - type: object
                                    required:
                                    - compressedSize
                                    - hash
                                    - name
                                    - originalName
                                    - path
                                    - size
                                    - type
                                    - _id
                                    properties:
                                      compressedSize:
                                        description: Size of compressed file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      hash:
                                        description: Calculated hash
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      name:
                                        description: Name of the archived file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      originalName:
                                        description: Name of the uploaded file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      path:
                                        description: File path within 'workload' folder
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      size:
                                        description: Size of the file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      type:
                                        description: Type of the file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      _id:
                                        description: File id
                                        oneOf:
                                        - type: object
                                        - type: string
                                  - type: object
                                    required:
                                    - fieldName
                                    properties:
                                      fieldName:
                                        description: Name of the file
                                        type: string
                                        enum:
                                        - file1
                                        - file2
                                      containFileType:
                                        type: string
                                        description: File type contained in the ZIP archive
                                        enum:
                                        - .img
                                        - .raw
                                        - .qcow2
                                        - .vhdx
                                        - ''
                                      virtualSize:
                                        description: Virtual size of the disk image
                                        minLength: 0
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      maxFileSize:
                                        description: Maximum size of the disk image
                                        minLength: 0
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                              - type: array
                                items:
                                  minLength: 1
                                  maxLength: 1000
                                  type: string
                                  pattern: ^[\x20-\x7E\t\n\r]*$
                                enum:
                                - []
                            createdAt:
                              description: Creation date
                              oneOf:
                              - type: string
                                format: date-time
                                minLength: 8
                                maxLength: 30
                              - type: object
                            created:
                              description: User who created the version
                              minLength: 0
                              maxLength: 1000
                              type: string
                              pattern: ^[\x20-\x7E\t\n\r]*$
                            updatedAt:
                              description: Date when version was updated
                              anyOf:
                              - type: string
                                format: date-time
                                minLength: 8
                                maxLength: 30
                              - type: object
                        - type: object
                          required:
                          - workloadProperties
                          - capabilities
                          properties:
                            workloadProperties:
                              description: VM specific properties
                              anyOf:
                              - description: VM specific properties
                                type: object
                                required:
                                - no_of_vCPUs
                                - memory
                                properties:
                                  no_of_vCPUs:
                                    type: integer
                                    description: Number of CPUs for VM
                                    format: int32
                                    minimum: 1
                                    maximum: 1000
                                  memory:
                                    oneOf:
                                    - type: object
                                      description: Memory limit in KB
                                      minProperties: 2
                                      maxProperties: 2
                                      required:
                                      - value
                                      - unit
                                      properties:
                                        value:
                                          type: number
                                          description: Memory limit value in KB
                                          minimum: 100000
                                        unit:
                                          description: Memory limit unit
                                          enum:
                                          - KB
                                    - type: object
                                      description: Memory limit in MB
                                      minProperties: 2
                                      maxProperties: 2
                                      required:
                                      - value
                                      - unit
                                      properties:
                                        value:
                                          type: number
                                          description: Memory limit value in MB
                                          minimum: 100
                                        unit:
                                          description: Memory limit unit
                                          enum:
                                          - MB
                                    - type: object
                                      description: Memory limit in GB
                                      minProperties: 2
                                      maxProperties: 2
                                      required:
                                      - value
                                      - unit
                                      properties:
                                        value:
                                          description: Memory limit value in GB
                                          type: number
                                          minimum: 0.1
                                        unit:
                                          description: Memory limit unit
                                          enum:
                                          - GB
                                    - type: object
                                      description: Memory limit in TB
                                      minProperties: 2
                                      maxProperties: 2
                                      required:
                                      - value
                                      - unit
                                      properties:
                                        value:
                                          description: Memory limit value in TB
                                          type: number
                                          minimum: 9.999999999999999e-05
                                        unit:
                                          description: Memory limit unit
                                          enum:
                                          - TB
                                  data_disks:
                                    type: array
                                    description: List of data disks
                                    minItems: 0
                                    maxItems: 1001
                                    items:
                                      oneOf:
                                      - type: object
                                        required:
                                        - data_disk
                                        - disk_size
                                        - disk_unit
                                        properties:
                                          data_disk:
                                            description: The name of data disk
                                            type: string
                                            pattern: ^[a-zA-Z0-9_]+$
                                            minLength: 1
                                            maxLength: 1000
                                          disk_size:
                                            description: Data disk size in KB
                                            type: number
                                            minimum: 100000
                                            maximum: 32000000
                                          disk_unit:
                                            description: Data disk size unit
                                            enum:
                                            - KB
                                      - type: object
                                        required:
                                        - data_disk
                                        - disk_size
                                        - disk_unit
                                        properties:
                                          data_disk:
                                            description: The name of data disk
                                            type: string
                                            pattern: ^[a-zA-Z0-9_]+$
                                            minLength: 1
                                            maxLength: 1000
                                          disk_size:
                                            description: Data disk size in MB
                                            type: number
                                            minimum: 100
                                            maximum: 32000
                                          disk_unit:
                                            description: Data disk size unit
                                            enum:
                                            - MB
                                      - type: object
                                        required:
                                        - data_disk
                                        - disk_size
                                        - disk_unit
                                        properties:
                                          data_disk:
                                            description: The name of data disk
                                            type: string
                                            pattern: ^[a-zA-Z0-9_]+$
                                            minLength: 1
                                            maxLength: 1000
                                          disk_size:
                                            description: Data disk size in GB
                                            type: number
                                            minimum: 0.1
                                            maximum: 32
                                          disk_unit:
                                            description: Data disk size unit
                                            enum:
                                            - GB
                                      - type: object
                                        required:
                                        - data_disk
                                        - disk_size
                                        - disk_unit
                                        properties:
                                          data_disk:
                                            description: The name of data disk
                                            type: string
                                            pattern: ^[a-zA-Z0-9_]+$
                                            minLength: 1
                                            maxLength: 1000
                                          disk_size:
                                            description: Data disk size in TB
                                            type: number
                                            minimum: 0.0001
                                            maximum: 0.032
                                          disk_unit:
                                            description: Data disk size unit
                                            enum:
                                            - TB
                                  libvirt_networks:
                                    type: array
                                    description: List of connected libvirt networks
                                    minItems: 0
                                    maxItems: 1001
                                    items:
                                      anyOf:
                                      - type: object
                                        required:
                                        - type
                                        - interface
                                        properties:
                                          type:
                                            type: string
                                            description: Type of the network
                                            enum:
                                            - Bridged
                                          interface:
                                            description: Name of the network interface
                                            minLength: 1
                                            maxLength: 1000
                                            type: string
                                            pattern: ^[\x20-\x7E\t\n\r]*$
                                      - type: object
                                        required:
                                        - type
                                        - interface
                                        properties:
                                          type:
                                            type: string
                                            description: Type of the network
                                            enum:
                                            - NAT
                                          interface:
                                            description: Name of the network interface
                                            minLength: 1
                                            maxLength: 1000
                                            type: string
                                            pattern: ^[\x20-\x7E\t\n\r]*$
                                          port_forwards:
                                            type: array
                                            description: List of port mappings
                                            minItems: 0
                                            maxItems: 20
                                            items:
                                              type: object
                                              description: Port mapping object containing information about protocol, host port and container port
                                              required:
                                              - protocol
                                              - host_port
                                              - container_port
                                              properties:
                                                protocol:
                                                  type: string
                                                  description: Protocol used for port mapping
                                                  enum:
                                                  - TCP
                                                  - UDP
                                                host_port:
                                                  type: integer
                                                  format: int32
                                                  description: Port number
                                                  minimum: 0
                                                  maximum: 65535
                                                container_port:
                                                  type: integer
                                                  format: int32
                                                  description: Port number
                                                  minimum: 0
                                                  maximum: 65535
                                  PCI_passthrough:
                                    type: array
                                    minItems: 0
                                    maxItems: 1001
                                    description: List of PCI devices passed through to the VM
                                    items:
                                      type: string
                                      pattern: ^(pci_)[a-f0-9]{4}_[a-f0-9]{2}_[a-f0-9]{2}_[a-f0-9]{1}$
                                      minLength: 1
                                      maxLength: 1000
                                  snapshot:
                                    type: object
                                    description: VM snapshot configuration
                                    required:
                                    - enabled
                                    properties:
                                      enabled:
                                        type: boolean
                                        description: Flag indicating whether snapshot is enabled
                                      unit:
                                        description: Unit of the snapshot value
                                        anyOf:
                                        - type: string
                                          enum:
                                          - KB
                                          - MB
                                          - GB
                                          - TB
                                        - type: string
                                          enum:
                                          - ''
                                      value:
                                        description: Snapshot value
                                        type: integer
                                        format: int32
                                        minimum: 0
                                        maximum: 1000000
                              - description: VM properties as list of key/value pairs
                                type: array
                                minItems: 1
                                items:
                                  type: object
                                  properties:
                                    key:
                                      type: string
                                      description: Name of the VM property
                                      enum:
                                      - data_disks
                                      - memory
                                      - no_of_vCPUs
                                      - snapshot
                                      - libvirt_networks
                                      - PCI_passthrough
                                    value:
                                      description: Value assigned to the property
                                      anyOf:
                                      - type: string
                                      - type: integer
                                        format: int32
                                        minimum: 0
                                        maximum: 1000000
                                      - type: array
                                      - type: object
                            capabilities:
                              type: array
                              description: List of capabilities assigned to the workload version
                              minItems: 1
                              maxItems: 2
                              items:
                                type: object
                                minProperties: 2
                                required:
                                - name
                                - _id
                                properties:
                                  description:
                                    description: Description of the capability
                                    minLength: 0
                                    maxLength: 1000
                                    type: string
                                    pattern: ^[\x20-\x7E\t\n\r]*$
                                  name:
                                    type: string
                                    description: Name of the capability
                                    enum:
                                    - Virtualization
                                    - Virtualization via XEN
                                    - Virtualization via KVM
                                    - Virtualization via ACRN
                                  _id:
                                    description: ID (from Management System) of the entry. Can be a string or an object.
                                    oneOf:
                                    - description: ID (from Management System) of the entry
                                      type: string
                                      pattern: ^[0-9a-fA-F]{24}$
                                      minLength: 24
                                      maxLength: 24
                                    - type: object
                            remoteConnections:
                              type: array
                              minItems: 0
                              maxItems: 1001
                              description: List of defined remote connections
                              items:
                                anyOf:
                                - description: Array of different remote connection types.
                                  anyOf:
                                  - type: object
                                    description: Remote tunnel
                                    required:
                                    - name
                                    - acknowledgment
                                    - port
                                    - localPort
                                    - type
                                    properties:
                                      type:
                                        type: string
                                        description: Remote connection type
                                        enum:
                                        - TUNNEL
                                      name:
                                        type: string
                                        description: Remote connection name
                                        pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                                        minLength: 1
                                        maxLength: 40
                                      acknowledgment:
                                        type: string
                                        description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                                        enum:
                                        - 'Yes'
                                        - 'No'
                                      hostname:
                                        type: string
                                        minLength: 0
                                        maxLength: 0
                                        pattern: ^$
                                        description: Target hostname or ip address to which connection is established
                                      port:
                                        description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                                        oneOf:
                                        - type: integer
                                          format: int32
                                          minimum: 0
                                          maximum: 65535
                                          description: Port which is used to establish connection
                                        - type: string
                                          pattern: ^\d+$
                                      localPort:
                                        description: Port on local PC to establish remote tunnel
                                        oneOf:
                                        - type: integer
                                          format: int32
                                          minimum: 0
                                          maximum: 65535
                                          description: Port which is used to establish connection
                                        - type: string
                                          pattern: ^\d+$
                                      oldName:
                                        description: Old remote connection name
                                        minLength: 0
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                  - type: object
                                    description: Remote tunnel
                                    required:
                                    - name
                                    - acknowledgment
                                    - hostname
                                    - port
                                    - localPort
                                    - type
                                    properties:
                                      type:
                                        type: string
                                        description: Remote connection type
                                        enum:
                                        - TUNNEL
                                      name:
                                        type: string
                                        description: Remote connection name
                                        pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                                        minLength: 1
                                        maxLength: 40
                                      acknowledgment:
                                        type: string
                                        description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                                        enum:
                                        - 'Yes'
                                        - 'No'
                                      hostname:
                                        type: string
                                        description: Target hostname or ip address to which connection is established
                                        minLength: 1
                                        maxLength: 40
                                        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
                                      port:
                                        description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                                        oneOf:
                                        - type: integer
                                          format: int32
                                          minimum: 0
                                          maximum: 65535
                                          description: Port which is used to establish connection
                                        - type: string
                                          pattern: ^\d+$
                                      localPort:
                                        description: Port on local PC to establish remote tunnel
                                        oneOf:
                                        - type: integer
                                          format: int32
                                          minimum: 0
                                          maximum: 65535
                                          description: Port which is used to establish connection
                                        - type: string
                                          pattern: ^\d+$
                                      oldName:
                                        description: Old remote connection name
                                        minLength: 0
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                  - description: Remote screen VNC
                                    allOf:
                                    - anyOf:
                                      - type: object
                                        required:
                                        - name
                                        - numberOfConnections
                                        - acknowledgment
                                        - hostname
                                        - port
                                        - autoretry
                                        - type
                                        properties:
                                          type:
                                            type: string
                                            description: Remote connection type
                                            enum:
                                            - SCREEN
                                          name:
                                            type: string
                                            description: Remote connection name
                                            pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                                            minLength: 1
                                            maxLength: 40
                                          numberOfConnections:
                                            type: integer
                                            format: int32
                                            description: The maximum number of simultaneous connections
                                            minimum: 1
                                            maximum: 100
                                          acknowledgment:
                                            type: string
                                            description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                                            enum:
                                            - 'Yes'
                                            - 'No'
                                          hostname:
                                            type: string
                                            description: Target hostname or ip address to which connection is established
                                            minLength: 1
                                            maxLength: 40
                                            pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
                                          port:
                                            description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                                            oneOf:
                                            - type: integer
                                              format: int32
                                              minimum: 0
                                              maximum: 65535
                                              description: Port which is used to establish connection
                                            - type: string
                                              pattern: ^\d+$
                                          autoretry:
                                            type: integer
                                            format: int32
                                            description: The number of times to retry connecting before giving up and returning an error
                                            minimum: 1
                                            maximum: 3
                                          cursor:
                                            type: string
                                            description: 'Defines if the cursor is rendered locally or remotely  '
                                            enum:
                                            - ''
                                            - local
                                            - remote
                                          readOnly:
                                            type: boolean
                                            description: Defines whether the connection should be read-only.
                                          swapRedBlue:
                                            description: Specifies whether the red and blue indicators for the remote connection should be swapped
                                            type: boolean
                                          oldName:
                                            description: Old remote connection name
                                            minLength: 0
                                            maxLength: 1000
                                            type: string
                                            pattern: ^[\x20-\x7E\t\n\r]*$
                                      - type: object
                                        required:
                                        - name
                                        - numberOfConnections
                                        - acknowledgment
                                        - port
                                        - autoretry
                                        - type
                                        properties:
                                          type:
                                            type: string
                                            description: Remote connection type
                                            enum:
                                            - SCREEN
                                          name:
                                            type: string
                                            description: Remote connection name
                                            pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                                            minLength: 1
                                            maxLength: 40
                                          numberOfConnections:
                                            type: integer
                                            format: int32
                                            description: The maximum number of simultaneous connections
                                            minimum: 1
                                            maximum: 100
                                          acknowledgment:
                                            type: string
                                            description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                                            enum:
                                            - 'Yes'
                                            - 'No'
                                          port:
                                            description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                                            oneOf:
                                            - type: integer
                                              format: int32
                                              minimum: 0
                                              maximum: 65535
                                              description: Port which is used to establish connection
                                            - type: string
                                              pattern: ^\d+$
                                          autoretry:
                                            type: integer
                                            format: int32
                                            description: The number of times to retry connecting before giving up and returning an error
                                            minimum: 1
                                            maximum: 3
                                          cursor:
                                            type: string
                                            description: 'Defines if the cursor is rendered locally or remotely  '
                                            enum:
                                            - ''
                                            - local
                                            - remote
                                          readOnly:
                                            type: boolean
                                            description: Defines whether the connection should be read-only.
                                          swapRedBlue:
                                            description: Specifies whether the red and blue indicators for the remote connection should be swapped
                                            type: boolean
                                          oldName:
                                            description: Old remote connection name
                                            minLength: 0
                                            maxLength: 1000
                                            type: string
                                            pattern: ^[\x20-\x7E\t\n\r]*$
                                    - type: object
                                      required:
                                      - connection
                                      - password
                                      properties:
                                        connection:
                                          type: string
                                          description: Remote screen type
                                          enum:
                                          - VNC
                                        password:
                                          description: Password to use when attempting authentication
                                          minLength: 0
                                          maxLength: 40
                                          type: string
                                          pattern: ^[\x20-\x7E\t\n\r]*$
                                  - description: Remote screen SSH
                                    allOf:
                                    - anyOf:
                                      - type: object
                                        required:
                                        - name
                                        - numberOfConnections
                                        - acknowledgment
                                        - hostname
                                        - port
                                        - autoretry
                                        - type
                                        properties:
                                          type:
                                            type: string
                                            description: Remote connection type
                                            enum:
                                            - SCREEN
                                          name:
                                            type: string
                                            description: Remote connection name
                                            pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                                            minLength: 1
                                            maxLength: 40
                                          numberOfConnections:
                                            type: integer
                                            format: int32
                                            description: The maximum number of simultaneous connections
                                            minimum: 1
                                            maximum: 100
                                          acknowledgment:
                                            type: string
                                            description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                                            enum:
                                            - 'Yes'
                                            - 'No'
                                          hostname:
                                            type: string
                                            description: Target hostname or ip address to which connection is established
                                            minLength: 1
                                            maxLength: 40
                                            pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
                                          port:
                                            description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                                            oneOf:
                                            - type: integer
                                              format: int32
                                              minimum: 0
                                              maximum: 65535
                                              description: Port which is used to establish connection
                                            - type: string
                                              pattern: ^\d+$
                                          autoretry:
                                            type: integer
                                            format: int32
                                            description: The number of times to retry connecting before giving up and returning an error
                                            minimum: 1
                                            maximum: 3
                                          cursor:
                                            type: string
                                            description: 'Defines if the cursor is rendered locally or remotely  '
                                            enum:
                                            - ''
                                            - local
                                            - remote
                                          readOnly:
                                            type: boolean
                                            description: Defines whether the connection should be read-only.
                                          swapRedBlue:
                                            description: Specifies whether the red and blue indicators for the remote connection should be swapped
                                            type: boolean
                                          oldName:
                                            description: Old remote connection name
                                            minLength: 0
                                            maxLength: 1000
                                            type: string
                                            pattern: ^[\x20-\x7E\t\n\r]*$
                                      - type: object
                                        required:
                                        - name
                                        - numberOfConnections
                                        - acknowledgment
                                        - port
                                        - autoretry
                                        - type
                                        properties:
                                          type:
                                            type: string
                                            description: Remote connection type
                                            enum:
                                            - SCREEN
                                          name:
                                            type: string
                                            description: Remote connection name
                                            pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                                            minLength: 1
                                            maxLength: 40
                                          numberOfConnections:
                                            type: integer
                                            format: int32
                                            description: The maximum number of simultaneous connections
                                            minimum: 1
                                            maximum: 100
                                          acknowledgment:
                                            type: string
                                            description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                                            enum:
                                            - 'Yes'
                                            - 'No'
                                          port:
                                            description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                                            oneOf:
                                            - type: integer
                                              format: int32
                                              minimum: 0
                                              maximum: 65535
                                              description: Port which is used to establish connection
                                            - type: string
                                              pattern: ^\d+$
                                          autoretry:
                                            type: integer
                                            format: int32
                                            description: The number of times to retry connecting before giving up and returning an error
                                            minimum: 1
                                            maximum: 3
                                          cursor:
                                            type: string
                                            description: 'Defines if the cursor is rendered locally or remotely  '
                                            enum:
                                            - ''
                                            - local
                                            - remote
                                          readOnly:
                                            type: boolean
                                            description: Defines whether the connection should be read-only.
                                          swapRedBlue:
                                            description: Specifies whether the red and blue indicators for the remote connection should be swapped
                                            type: boolean
                                          oldName:
                                            description: Old remote connection name
                                            minLength: 0
                                            maxLength: 1000
                                            type: string
                                            pattern: ^[\x20-\x7E\t\n\r]*$
                                    - type: object
                                      required:
                                      - connection
                                      properties:
                                        connection:
                                          type: string
                                          description: Remote screen type
                                          enum:
                                          - SSH
                                        username:
                                          type: string
                                          description: Username to use for authentication
                                          minLength: 0
                                          maxLength: 40
                                          pattern: ^[^\u0000-\u001f\u007f-\u009f:]*$
                                        password:
                                          description: Password to use when attempting authentication
                                          minLength: 0
                                          maxLength: 40
                                          type: string
                                          pattern: ^[\x20-\x7E\t\n\r]*$
                                        privatekeyFlag:
                                          type: boolean
                                          default: false
                                          description: Option to choose authentication via private SSH key
                                        privateKey:
                                          description: The contents of the private key to use for authentication
                                          minLength: 0
                                          maxLength: 1000
                                          type: string
                                          pattern: ^[\x20-\x7E\t\n\r]*$
                                  - description: Remote screen RDP
                                    allOf:
                                    - anyOf:
                                      - type: object
                                        required:
                                        - name
                                        - numberOfConnections
                                        - acknowledgment
                                        - hostname
                                        - port
                                        - autoretry
                                        - type
                                        properties:
                                          type:
                                            type: string
                                            description: Remote connection type
                                            enum:
                                            - SCREEN
                                          name:
                                            type: string
                                            description: Remote connection name
                                            pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                                            minLength: 1
                                            maxLength: 40
                                          numberOfConnections:
                                            type: integer
                                            format: int32
                                            description: The maximum number of simultaneous connections
                                            minimum: 1
                                            maximum: 100
                                          acknowledgment:
                                            type: string
                                            description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                                            enum:
                                            - 'Yes'
                                            - 'No'
                                          hostname:
                                            type: string
                                            description: Target hostname or ip address to which connection is established
                                            minLength: 1
                                            maxLength: 40
                                            pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
                                          port:
                                            description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                                            oneOf:
                                            - type: integer
                                              format: int32
                                              minimum: 0
                                              maximum: 65535
                                              description: Port which is used to establish connection
                                            - type: string
                                              pattern: ^\d+$
                                          autoretry:
                                            type: integer
                                            format: int32
                                            description: The number of times to retry connecting before giving up and returning an error
                                            minimum: 1
                                            maximum: 3
                                          cursor:
                                            type: string
                                            description: 'Defines if the cursor is rendered locally or remotely  '
                                            enum:
                                            - ''
                                            - local
                                            - remote
                                          readOnly:
                                            type: boolean
                                            description: Defines whether the connection should be read-only.
                                          swapRedBlue:
                                            description: Specifies whether the red and blue indicators for the remote connection should be swapped
                                            type: boolean
                                          oldName:
                                            description: Old remote connection name
                                            minLength: 0
                                            maxLength: 1000
                                            type: string
                                            pattern: ^[\x20-\x7E\t\n\r]*$
                                      - type: object
                                        required:
                                        - name
                                        - numberOfConnections
                                        - acknowledgment
                                        - port
                                        - autoretry
                                        - type
                                        properties:
                                          type:
                                            type: string
                                            description: Remote connection type
                                            enum:
                                            - SCREEN
                                          name:
                                            type: string
                                            description: Remote connection name
                                            pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                                            minLength: 1
                                            maxLength: 40
                                          numberOfConnections:
                                            type: integer
                                            format: int32
                                            description: The maximum number of simultaneous connections
                                            minimum: 1
                                            maximum: 100
                                          acknowledgment:
                                            type: string
                                            description: Defines if local acknowledgement is required to establish a connection. To confirm connection, it is necessary to have access to the LocalUI web application.
                                            enum:
                                            - 'Yes'
                                            - 'No'
                                          port:
                                            description: Port on the target to which connection is established (port on the node for opening tunnel to chisel server)
                                            oneOf:
                                            - type: integer
                                              format: int32
                                              minimum: 0
                                              maximum: 65535
                                              description: Port which is used to establish connection
                                            - type: string
                                              pattern: ^\d+$
                                          autoretry:
                                            type: integer
                                            format: int32
                                            description: The number of times to retry connecting before giving up and returning an error
                                            minimum: 1
                                            maximum: 3
                                          cursor:
                                            type: string
                                            description: 'Defines if the cursor is rendered locally or remotely  '
                                            enum:
                                            - ''
                                            - local
                                            - remote
                                          readOnly:
                                            type: boolean
                                            description: Defines whether the connection should be read-only.
                                          swapRedBlue:
                                            description: Specifies whether the red and blue indicators for the remote connection should be swapped
                                            type: boolean
                                          oldName:
                                            description: Old remote connection name
                                            minLength: 0
                                            maxLength: 1000
                                            type: string
                                            pattern: ^[\x20-\x7E\t\n\r]*$
                                    - type: object
                                      required:
                                      - connection
                                      properties:
                                        connection:
                                          type: string
                                          description: Remote screen type
                                          enum:
                                          - RDP
                                        username:
                                          type: string
                                          description: Username to use for authentication
                                          minLength: 0
                                          maxLength: 40
                                          pattern: ^[^\u0000-\u001f\u007f-\u009f:]*$
                                        password:
                                          description: Password to use when attempting authentication
                                          minLength: 0
                                          maxLength: 40
                                          type: string
                                          pattern: ^[\x20-\x7E\t\n\r]*$
                                        ignoreServerCertificate:
                                          type: boolean
                                          default: false
                                          description: Defines if the server certificate should be ignored when connecting to the target
                                        securityMode:
                                          type: string
                                          description: Dictates how data will be encrypted and what type of authentication will be performed
                                          enum:
                                          - ''
                                          - any
                                          - nla
                                          - rdp
                                          - tls
                                - description: ID (from Management System) of the entry
                                  type: string
                                  pattern: ^[0-9a-fA-F]{24}$
                                  minLength: 24
                                  maxLength: 24
                            selectors:
                              type: array
                              description: List of labels or ids assigned to the workload version
                              minItems: 0
                              maxItems: 1001
                              items:
                                anyOf:
                                - type: object
                                  description: The key-value pair representing a label.
                                  properties:
                                    key:
                                      description: Definition of a label key property
                                      type: string
                                      minLength: 1
                                      maxLength: 40
                                      pattern: ^[a-zA-Z0-9_-]*$
                                    value:
                                      description: Definition of a label value property
                                      type: string
                                      minLength: 1
                                      maxLength: 40
                                      pattern: ^[^\s]*$
                                  required:
                                  - key
                                  - value
                                - description: ID (from Management System) of the entry
                                  type: string
                                  pattern: ^[0-9a-fA-F]{24}$
                                  minLength: 24
                                  maxLength: 24
                            restartOnConfigurationUpdate:
                              type: boolean
                              description: Indicator if container will be restarted when applying configuration
                              default: false
                            firstVolumeAsConfigurationStorage:
                              type: boolean
                              description: Flag indicating whether the first mapped volume is used as configuration storage
                              default: false
                            dockerFileOption:
                              description: Option indicating if file is uploaded or docker image from registry is used. Exists only for docker workloads.
                              type: string
                              minLength: 0
                              maxLength: 0
                              pattern: ^$
                            dockerFilePath:
                              description: Name of the docker image. Exists only for docker workloads.
                              type: string
                              minLength: 0
                              maxLength: 0
                              pattern: ^$
                      - allOf:
                        - description: Docker version info from db
                          type: object
                          required:
                          - name
                          - releaseName
                          - deleted
                          - released
                          - files
                          - isDeployable
                          - isDownloading
                          - hash
                          properties:
                            name:
                              type: string
                              description: Version name
                              minLength: 1
                              maxLength: 40
                              pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                            releaseName:
                              type: string
                              description: Release name
                              minLength: 1
                              maxLength: 40
                              pattern: (?=.*[^ ].*)(?=(^[^\u0000-\u001f\u007f-\u009f]*$))
                            deleted:
                              description: Indicates if the version marked as deleted
                              type: boolean
                            released:
                              description: Indicates if the version is released
                              type: boolean
                            isDeployable:
                              description: Indicates if the version can be used in deployment
                              type: boolean
                            isDownloading:
                              description: Indicates if the version is in downloading state
                              type: boolean
                            hash:
                              description: Hash of the version structure that changes with every change in version files or properties
                              default: ''
                              minLength: 0
                              maxLength: 1000
                              type: string
                              pattern: ^[\x20-\x7E\t\n\r]*$
                            _id:
                              description: Version id
                              oneOf:
                              - type: object
                              - type: string
                            files:
                              description: List of files attached to the version
                              minItems: 0
                              maxItems: 1001
                              anyOf:
                              - type: array
                                minItems: 1
                                maxItems: 1
                                items:
                                  allOf:
                                  - type: object
                                    required:
                                    - compressedSize
                                    - hash
                                    - name
                                    - originalName
                                    - path
                                    - size
                                    - type
                                    - _id
                                    properties:
                                      compressedSize:
                                        description: Size of compressed file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      hash:
                                        description: Calculated hash
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      name:
                                        description: Name of the archived file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      originalName:
                                        description: Name of the uploaded file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      path:
                                        description: File path within 'workload' folder
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      size:
                                        description: Size of the file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      type:
                                        description: Type of the file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      _id:
                                        description: File id
                                        oneOf:
                                        - type: object
                                        - type: string
                                  - type: object
                                    required:
                                    - fieldName
                                    properties:
                                      imageId:
                                        description: Id of the image if dockerFileOption is path
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      fieldName:
                                        type: string
                                        description: Identifier of the file field
                                        enum:
                                        - file
                              - type: array
                                minItems: 1
                                maxItems: 1
                                items:
                                  allOf:
                                  - type: object
                                    required:
                                    - compressedSize
                                    - hash
                                    - name
                                    - originalName
                                    - path
                                    - size
                                    - type
                                    - _id
                                    properties:
                                      compressedSize:
                                        description: Size of compressed file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      hash:
                                        description: Calculated hash
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      name:
                                        description: Name of the archived file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      originalName:
                                        description: Name of the uploaded file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      path:
                                        description: File path within 'workload' folder
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      size:
                                        description: Size of the file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      type:
                                        description: Type of the file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      _id:
                                        description: File id
                                        oneOf:
                                        - type: object
                                        - type: string
                                  - type: object
                                    required:
                                    - fieldName
                                    properties:
                                      fieldName:
                                        type: string
                                        description: Identifier of the file field
                                        enum:
                                        - file
                              - type: array
                                minItems: 2
                                maxItems: 2
                                items:
                                  allOf:
                                  - type: object
                                    required:
                                    - compressedSize
                                    - hash
                                    - name
                                    - originalName
                                    - path
                                    - size
                                    - type
                                    - _id
                                    properties:
                                      compressedSize:
                                        description: Size of compressed file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      hash:
                                        description: Calculated hash
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
                                      name:
                                        description: Name of the archived file
                                        minLength: 1
                                        maxLength: 1000
                                        type: string
                                        pattern: ^[\x20-\x7E\t\n\r]*$
[...]
